In [178]:
import pandas as pd

data = pd.read_csv("data/internship.csv")
data.head()

,internship_title,company_name,location,start_date,duration,stipend
0,Java Development,SunbaseData,Work From Home,Immediately,6 Months,"₹ 30,000 /month"
1,Accounting and Finance,DAKSM & Co. LLP,Noida,Immediately,6 Months,"₹ 5,000-10,000 /month"
2,Sales & Digital Marketing,Bharat Natural Elements Private Limited,Bangalore,Immediately,6 Months,"₹ 5,000 /month"
3,Social Entrepreneurship,Hamari Pahchan NGO,Work From Home,Immediately,6 Months,Unpaid
4,Videography & Photography,Esquare Lifestyle,Bangalore,Immediately,6 Months,"₹ 12,000 /month"

In [179]:
data["stipend"] = data['stipend'].apply(lambda x: '0' if 'Unpaid' in str(x) else x)
data["stipend"] = data["stipend"].str.replace("/month", "")
data["stipend"] = data["stipend"].str.replace("lump sum", "")
data["Other Benifits"] = data["stipend"].str.split('+').apply(lambda x: x[-1].strip() if len(x) > 1 else None)
data["stipend"] = data["stipend"].str.split('+').str[0].str.strip()
data["min stipend"] = data["stipend"].str.split("-").str[0].str.strip().str.replace("₹", "")
data['min stipend'] = data['min stipend'].str.extract(r'([\d,]+)', expand=False).str.replace(",", "")
data["max stipend"] = data["stipend"].str.split("-").str[-1].str.strip().str.replace("₹", "")
data['max stipend'] = data['max stipend'].str.extract(r'([\d,]+)', expand=False).str.replace(",", "")

In [180]:
data.sample(10)

,internship_title,company_name,location,start_date,duration,stipend,Other Benifits,min stipend,max stipend
3491,UX/UI Design,D'Skin Lab,Work From Home,Immediately,6 Months,"₹ 5,000-10,000",None,5000,10000
5821,YouTube Video Making,Fitmirchi,Work From Home,Immediately,3 Months,"₹ 2,000",None,2000,2000
3067,Graphic Design,Hemophilia Federation (India),Work From Home,Immediately,2 Weeks,"₹ 2,000-5,000",None,2000,5000
4569,GPT Model Development,Persist Ventures,Work From Home,Immediately,6 Months,"₹ 12,500",None,12500,12500
3838,Personal Brand Management (Strategy),IPLIX Media,Gurgaon,Immediately,6 Months,"₹ 15,000",None,15000,15000
5206,Photography & Social Media Content Creation,Disha R,Chandigarh,Immediately,2 Months,"₹ 8,000",None,8000,8000
5873,Social Media Marketing,GetinStartup,Work From Home,Immediately,3 Months,"₹ 2,000",None,2000,2000
1367,Fashion Design And Merchandising,Masumi Mewawalla,Mumbai,Immediately,2 Months,"₹ 5,000",None,5000,5000
803,Social Media Marketing,Kiaya Accessories,Bangalore,Immediately,3 Months,"₹ 8,000",None,8000,8000
4829,Script Writing,Confluencr,Work From Home,Immediately,3 Months,"₹ 10,000",None,10000,10000

In [181]:
def weeks_to_months(duration):
    if 'Weeks' in duration:
        weeks = int(duration.split()[0])
        months = weeks / 4.33  # Average weeks in a month
        return f"{months:.2f} Months"
    else:
        return duration

data['duration'] = data['duration'].apply(weeks_to_months)
data['duration'] = data['duration'].str.replace(" Months", "").str.replace(" Month", "")

In [187]:
data.sample(10)

,internship_title,company_name,location,start_date,duration,stipend,Other Benifits,min stipend,max stipend
3210,Node.js Developer,Warewe Consultancy Private Limited,Gurgaon,Immediately,3,"₹ 10,000-15,000",None,10000,15000
5813,Medical Device Design Engineering (3D Modeling...,Mediscient Devices Private Limited,Vadodara,Immediately,3,"₹ 3,000-6,000",None,3000,6000
299,Social Sector Operations,NayePankh Foundation,Work From Home,Immediately,6,0,None,0,0
1776,Database Building/Management,Curated Tales Private Limited,Work From Home,Immediately,6,"₹ 2,500",None,2500,2500
1686,Commerce And Management Subject Matter Expert,Hikewise,Work From Home,Immediately,3,"₹ 10,000-20,000",None,10000,20000
3397,Shopify Website Management & Social Media,Doodle Over Poodle Pvt. Ltd.,Delhi,Immediately,6,"₹ 8,000-10,000",None,8000,10000
923,Graphic Design,Creafinity LLP,Pune,Immediately,2,"₹ 6,000-12,000",None,6000,12000
4282,Video Presenting,Top Talent Bridge,Work From Home,Immediately,3,"₹ 5,000",None,5000,5000
4375,Content & E-Commerce Management,Porpoise,Vasai,Immediately,6,"₹ 6,000-12,000",None,6000,12000
4272,Videography,Alippo,Nagpur,Immediately,3,"₹ 12,000-17,000",None,12000,17000