In [1]:
import pandas as pd

data = pd.read_csv("data/internship.csv")
data.head()

,internship_title,company_name,location,start_date,duration,stipend
0,Java Development,SunbaseData,Work From Home,Immediately,6 Months,"₹ 30,000 /month"
1,Accounting and Finance,DAKSM & Co. LLP,Noida,Immediately,6 Months,"₹ 5,000-10,000 /month"
2,Sales & Digital Marketing,Bharat Natural Elements Private Limited,Bangalore,Immediately,6 Months,"₹ 5,000 /month"
3,Social Entrepreneurship,Hamari Pahchan NGO,Work From Home,Immediately,6 Months,Unpaid
4,Videography & Photography,Esquare Lifestyle,Bangalore,Immediately,6 Months,"₹ 12,000 /month"

In [2]:
data["stipend"] = data['stipend'].apply(lambda x: '0' if 'Unpaid' in str(x) else x)
data["stipend"] = data["stipend"].str.replace("/month", "")
data["stipend"] = data["stipend"].str.replace("lump sum", "")
data["min stipend"] = data["stipend"].str.split("-").str[0].str.strip().str.replace("₹", "")
data["max stipend"] = data["stipend"].str.split("-").str[-1].str.strip().str.replace("₹", "")
data["Other Benifits"] = data["stipend"].str.split('+').apply(lambda x: x[-1].strip() if len(x) > 1 else None)
data["stipend"] = data["stipend"].str.split('+').str[0].str.strip()

In [4]:
data.sample(10)

,internship_title,company_name,location,start_date,duration,stipend,min stipend,max stipend,Other Benifits
32,Marketing,HarperCollins Publishers India Private Limited,Gurgaon,Immediately,6 Months,"₹ 5,000","5,000","5,000",None
3088,Social Media & Content Writing,IIC INTERACTIVE LABS PRIVATE LIMITED (Ink In C...,Mumbai,Immediately,2 Weeks,"₹ 7,000-10,000","7,000","10,000",None
4990,Human Resources (HR),SuperTails,Bangalore,Immediately,1 Month,"₹ 15,000-20,000","15,000","20,000",None
1125,Photography,Social Agni,Delhi,Immediately,6 Months,"₹ 2,500","2,500","2,500",None
3440,Event Management,Eva Live LLP,Delhi,Immediately,3 Months,"₹ 10,000","10,000","10,000",None
1871,Social Media Marketing,Eduminatti,Work From Home,Immediately,6 Months,"₹ 10,000","10,000","10,000",None
3192,Full Stack Development,Caarya,Work From Home,Immediately,3 Months,"₹ 7,500-15,000","7,500","15,000",None
5898,Business Development (Sales),Graveiens Eduservices Private Limited,Work From Home,Immediately,3 Months,"₹ 6,000","6,000","6,000",None
3079,General Management (Founder's Office),Prescinto,Bangalore,Immediately,2 Weeks,"₹ 20,000-25,000","20,000","25,000",None
3876,Impact Leading,HappiMynd,Work From Home,Immediately,6 Months,"₹ 1,000-2,000","1,000","2,000",None