In [80]:
import requests
from bs4 import BeautifulSoup

In [81]:
import requests

reqUrl = "https://internshala.com/jobs/page-1/"

headersList = {
 "Accept": "*/*",
 "User-Agent": "Thunder Client (https://www.thunderclient.com)" 
}

payload = ""

response = requests.request("GET", reqUrl, data=payload,  headers=headersList)

soup = BeautifulSoup(response.content, 'html.parser')

In [82]:

nested_divs = soup.find_all('div', class_='container-fluid individual_internship visibilityTrackerItem')

for soup in nested_divs:

      job_title = soup.find('h3', class_='heading_4_5 profile').a.text.strip()
      company_name = soup.find('h4', class_='heading_6 company_name').a.text.strip()

      # Extracting location
      location = soup.find('p', id='location_names').span.text.strip()#.text.strip()

      # Extracting start date
      start_date = soup.find('div', class_='item_body', id='start-date-first').text.strip()

      # Extracting CTC (Annual)
      ctc = soup.find('div', class_='item_body salary').select_one('span.desktop').text.strip()

      # Extracting experience
      experience = soup.find('div', class_='item_body desktop-text').text.strip()

      # Extracting posted time
      posted_time = soup.find('div', class_='status-container').text.strip()


      # Extracting job type
      job_type = soup.find('div', class_='status status-small status-inactive').text.strip()

      # Print or use the extracted information as needed
      print("Job Title:", job_title)
      print("Company Name:", company_name)
      print("Location:", location)
      print("Start Date:", start_date)
      print("CTC (Annual):", ctc)
      print("Experience:", experience)
      print("Posted Time:", posted_time)
      break

Job Title: Business Development Associate
Company Name: Break The Code
Location: Mumbai
Start Date: Starts Immediately
CTC (Annual): ₹ 2,00,000 - 3,00,000
Experience: 0-1 years
Posted Time: 3 days ago

In [83]:
dbname = "postgres"
user = "saksham"
password = "everydaycodings*189100"
host = "news-api-data.postgres.database.azure.com"
port = 5432
table_name = "job"

In [84]:
import psycopg2
import requests
from psycopg2 import sql


def connect_to_database(dbname, user, password, host, port):
        # Establish a connection
        conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

        # Create a cursor object to execute SQL queries
        return conn


def push_data(data, conn, table_name):
    insert_query = sql.SQL("""
        INSERT INTO {} 
        (Job_Title, Company_Name, Location, Start_Date, CTC, Experience, Posted)
        VALUES 
        (%(Job_Title)s, %(Company_Name)s, %(Location)s, %(Start_Date)s, %(CTC)s, %(Experience)s, %(Posted Time)s)
    """).format(sql.Identifier(table_name))

    # Create a cursor and execute the insert query
    with conn.cursor() as cursor:
        cursor.execute(insert_query, data)

    # Commit the changes to the database
    conn.commit()

conn = connect_to_database(dbname, user, password, host, port)
def process(num):

    reqUrl = "https://internshala.com/jobs/page-{}/".format(num)

    headersList = {
    "Accept": "*/*",
    "User-Agent": "Thunder Client (https://www.thunderclient.com)" 
    }

    payload = ""

    response = requests.request("GET", reqUrl, data=payload,  headers=headersList)

    soup = BeautifulSoup(response.content, 'html.parser')

    nested_divs = soup.find_all('div', class_='container-fluid individual_internship visibilityTrackerItem')

    for target_div in nested_divs:
        
        try:
            job_title = target_div.find('h3', class_='heading_4_5 profile').a.text.strip()
        except:
              job_title = "None"
        
        try:
            company_name = target_div.find('h4', class_='heading_6 company_name').a.text.strip()
        except:
            company_name = "None"


        try:    
            # Extracting location
            location = target_div.find('p', id='location_names').span.text.strip()
        except:
            location = "None"

        try:
            # Extracting start date
            start_date = target_div.find('div', class_='item_body', id='start-date-first').text.strip()
        except:
            start_date = "None"

        try:
            # Extracting CTC (Annual)
            ctc = target_div.find('div', class_='item_body salary').select_one('span.desktop').text.strip()
        except:
            ctc = "None"

        try:
            # Extracting experience
            experience = target_div.find('div', class_='item_body desktop-text').text.strip()
        except:
            experience = "None"

        try:
            # Extracting posted time
            posted_time = target_div.find('div', class_='status-container').text.strip()
        except:
            posted_time = "None"


        data_dict = {
            'Job_Title': job_title,
            'Company_Name': company_name,
            'Location': location,
            'Start_Date': start_date,
            'Experience': experience,
            'CTC':  ctc,
            'Posted Time': posted_time
            }
        # Assuming conn is your database connection
        push_data(data_dict, conn, table_name)

In [85]:
for i in range(1, 200):
    process(i)
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199